In [24]:
import pandas as pd 
df= pd.read_csv(r"C:\Users\RICHA\Desktop\adult.data.csv\adult.data.csv")

In [59]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [27]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

1. How many men and women (sex feature) are represented in this dataset?

In [58]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

ans1. Male      21790
Female    10771

2.What is the average age (age feature) of women?

In [49]:
df.loc[df['sex']=='Female', 'age'].mean()

36.85823043357163

ans2. 36.8

3. What is the percentage of German citizens (native-country feature)? *

In [74]:
df['native-country'].count

<bound method Series.count of 0        United-States
1        United-States
2        United-States
3        United-States
4                 Cuba
5        United-States
6              Jamaica
7        United-States
8        United-States
9        United-States
10       United-States
11               India
12       United-States
13       United-States
14                   ?
15              Mexico
16       United-States
17       United-States
18       United-States
19       United-States
20       United-States
21       United-States
22       United-States
23       United-States
24       United-States
25       United-States
26       United-States
27               South
28       United-States
29       United-States
             ...
32531    United-States
32532    United-States
32533            Japan
32534    United-States
32535    United-States
32536    United-States
32537    United-States
32538    United-States
32539    United-States
32540    United-States
32541    United-States
32542    United-States
32543    United-States
32544    United-States
32545    United-States
32546    United-States
32547           Mexico
32548    United-States
32549    United-States
32550    United-States
32551    United-States
32552    United-States
32553           Taiwan
32554    United-States
32555    United-States
32556    United-States
32557    United-States
32558    United-States
32559    United-States
32560    United-States
Name: native-country, Length: 32561, dtype: object>

In [62]:
df.loc[df['native-country']=='Germany']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
122,30,Private,77143,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,0,0,40,Germany,<=50K
280,22,Private,34918,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
767,22,Private,151790,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,Germany,<=50K
1009,26,Private,109186,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,<=50K
1142,59,Federal-gov,212448,HS-grad,9,Widowed,Sales,Unmarried,White,Female,0,0,40,Germany,<=50K
1346,61,Self-emp-inc,134768,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Germany,>50K
1425,46,Private,134727,11th,7,Divorced,Machine-op-inspct,Unmarried,Amer-Indian-Eskimo,Male,0,0,43,Germany,<=50K
1973,30,Private,111415,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,55,Germany,<=50K
2233,35,Private,178322,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,>50K
2586,26,?,152046,11th,7,Never-married,?,Not-in-family,White,Female,0,0,35,Germany,<=50K
2788,27,State-gov,194773,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,Germany,<=50K
2899,22,Private,24896,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,30,Germany,<=50K
3159,58,Private,235624,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Germany,>50K
3348,30,Private,116508,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Germany,<=50K
3673,39,Private,183898,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,60,Germany,>50K
3743,29,Private,31166,HS-grad,9,Divorced,Prof-specialty,Not-in-family,Other,Female,0,0,30,Germany,<=50K
4073,33,Private,131776,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,914,0,40,Germany,<=50K
4138,20,Self-emp-not-inc,186014,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,12,Germany,<=50K
4354,53,Federal-gov,199720,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,60,Germany,>50K
4536,30,Local-gov,364310,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Black,Female,0,0,40,Germany,<=50K
4704,60,Self-emp-not-inc,88570,Assoc-voc,11,Married-civ-spouse,Transport-moving,Wife,White,Female,0,0,15,Germany,>50K
4748,51,Private,183611,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Male,0,0,55,Germany,<=50K
5143,57,Private,372967,10th,6,Divorced,Adm-clerical,Other-relative,White,Female,0,0,70,Germany,<=50K
5346,20,?,432376,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,Germany,<=50K
5388,35,Private,275364,Bachelors,13,Divorced,Tech-support,Unmarried,White,Male,7430,0,40,Germany,>50K
5705,43,Self-emp-not-inc,240170,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Germany,<=50K
5720,28,?,55950,Bachelors,13,Never-married,?,Own-child,Black,Female,0,0,40,Germany,<=50K
5796,47,Federal-gov,34845,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,Germany,>50K
6318,29,Private,221366,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,5013,0,40,Germany,<=50K
6344,46,Federal-gov,80057,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,Germany,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26577,35,Private,219546,Some-college,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,45,Germany,<=50K
26750,20,Private,323009,HS-grad,9,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
26882,29,Local-gov,190525,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1848,60,Germany,>50K
26896,47,Self-emp-inc,205100,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,38,Germany,<=50K
27332,46,Private,389843,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,Germany,>50K
27855,46,Federal-gov,308077,Prof-school,15,Separated,Prof-specialty,Unmarried,White,Female,0,0,40,Germany,>50K
27856,60,Private,159049,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,70,Germany,>50K
27955,34,Private,366898,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Germany,<=50K
27982,66,Private,175558,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,20,Germany,<=50K
28183,32,Private,299635,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Germany,<=50K
28197,40,Private,287008,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,Germany,>50K
28669,57,Private,140426,Doctorate,16,Married-civ-spouse,Tech-support,Husband,White,Male,0,1977,40,Germany,>50K
28697,71,Private,97870,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,15,Germany,<=50K
29468,43,Local-gov,180407,Bachelors,13,Divorced,Exec-managerial,Unmarried,White,Male,0,0,42,Germany,<=50K
29505,41,Private,206470,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Germany,<=50K
30400,50,Self-emp-inc,152810,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,70,Germany,<=50K
30865,30,Self-emp-not-inc,113838,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,3137,0,60,Germany,<=50K
30894,20,Private,303565,Some-college,10,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,Germany,<=50K
30982,51,Private,189511,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,Germany,>50K
31118,65,?,231604,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,45,Germany,<=50K
31172,31,Local-gov,236487,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,Germany,<=50K
31181,29,Private,82393,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Asian-Pac-Islander,Male,0,0,40,Germany,<=50K
31201,21,?,176356,Some-college,10,Never-married,?,Own-child,White,Female,0,0,10,Germany,<=50K
31248,34,Private,130369,HS-grad,9,Divorced,Transport-moving,Unmarried,White,Female,1151,0,48,Germany,<=50K
31446,44,Private,168515,Some-college,10,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,Germany,<=50K
32074,30,Private,318749,Assoc-voc,11,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,35,Germany,<=50K
32101,45,Private,174794,Bachelors,13,Separated,Prof-specialty,Unmarried,White,Female,0,0,56,Germany,<=50K
32141,34,Private,193344,Some-college,10,Never-married,Adm-clerical,Unmarried,White,Female,0,0,40,Germany,<=50K
32236,26,Private,323044,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,Germany,>50K
32341,74,Self-emp-not-inc,199136,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,15831,0,8,Germany,>50K

In [66]:
df.loc[df['native-country']=='Germany'].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,137.000000,137.000000,137.000000,137.000000,137.000000,137.000000
mean,39.255474,189325.313869,10.985401,887.094891,77.978102,41.014599
std,12.962065,100809.067728,2.370112,3627.385181,371.502899,12.328223
min,18.000000,21306.000000,4.000000,0.000000,0.000000,6.000000
25%,29.000000,116391.000000,9.000000,0.000000,0.000000,40.000000
50%,36.000000,178322.000000,10.000000,0.000000,0.000000,40.000000
75%,47.000000,231604.000000,13.000000,0.000000,0.000000,50.000000
max,74.000000,606111.000000,16.000000,27828.000000,1977.000000,70.000000

In [69]:
137/32561

0.004207487485028101

ans3.0.42

4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?

In [77]:
df[df['salary']=='>50K'].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,7841.000000,7.841000e+03,7841.000000,7841.000000,7841.000000,7841.000000
mean,44.249841,1.880050e+05,11.611657,4006.142456,195.001530,45.473026
std,10.519028,1.025418e+05,2.385129,14570.378951,595.487574,11.012971
min,19.000000,1.487800e+04,2.000000,0.000000,0.000000,1.000000
25%,36.000000,1.191010e+05,10.000000,0.000000,0.000000,40.000000
50%,44.000000,1.761010e+05,12.000000,0.000000,0.000000,40.000000
75%,51.000000,2.309590e+05,13.000000,0.000000,0.000000,50.000000
max,90.000000,1.226583e+06,16.000000,99999.000000,3683.000000,99.000000

ans4.44 +- 10.5 years

5. What are the mean and standard deviation of age for those who earn less than 50K per year? *

In [78]:
df[df['salary']=='<=50K'].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,24720.000000,2.472000e+04,24720.000000,24720.000000,24720.000000,24720.000000
mean,36.783738,1.903409e+05,9.595065,148.752468,53.142921,38.840210
std,14.020088,1.064823e+05,2.436147,963.139307,310.755769,12.318995
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,25.000000,1.176060e+05,9.000000,0.000000,0.000000,35.000000
50%,34.000000,1.794650e+05,9.000000,0.000000,0.000000,40.000000
75%,46.000000,2.390230e+05,10.000000,0.000000,0.000000,40.000000
max,90.000000,1.484705e+06,16.000000,41310.000000,4356.000000,99.000000

ans5.37 +- 14 years

6. Is it true that people who earn more than 50K have at least high school education?
(education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature) *

In [82]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [90]:
newdf= df['salary']=='>50K'

In [97]:
newdf.groupby (df['education']).count()

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: salary, dtype: int64

ans6.No

7. Find the maximum age of men of Amer-Indian-Eskimo race.

In [106]:
new2df= df[df['race']=='Amer-Indian-Eskimo']

In [107]:
new2df.groupby (df['age']).max()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
age,,,,,,,,,,,,,,,
17,17,Private,130125,11th,7,Never-married,Other-service,Own-child,Amer-Indian-Eskimo,Male,1055,0,20,United-States,<=50K
18,18,Private,301867,HS-grad,9,Never-married,Sales,Own-child,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
19,19,Self-emp-not-inc,243941,Some-college,10,Never-married,Sales,Unmarried,Amer-Indian-Eskimo,Male,0,1721,40,United-States,<=50K
20,20,Private,137651,Some-college,10,Never-married,Machine-op-inspct,Own-child,Amer-Indian-Eskimo,Male,0,0,72,United-States,<=50K
21,21,Private,304302,Some-college,12,Never-married,Sales,Wife,Amer-Indian-Eskimo,Male,0,0,46,United-States,>50K
22,22,Self-emp-not-inc,233955,Some-college,13,Never-married,Transport-moving,Wife,Amer-Indian-Eskimo,Male,14344,0,84,United-States,>50K
23,23,Private,306601,Some-college,13,Never-married,Protective-serv,Wife,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
24,24,Private,336088,Some-college,10,Never-married,Sales,Unmarried,Amer-Indian-Eskimo,Male,0,0,50,United-States,<=50K
25,25,Private,312338,Some-college,11,Never-married,Sales,Unmarried,Amer-Indian-Eskimo,Male,6849,0,40,United-States,<=50K
26,26,Private,151551,Some-college,10,Separated,Sales,Own-child,Amer-Indian-Eskimo,Male,2597,0,48,United-States,<=50K
27,27,State-gov,221252,Some-college,13,Never-married,Transport-moving,Wife,Amer-Indian-Eskimo,Male,3325,0,75,United-States,>50K
28,28,Private,314649,Some-college,11,Never-married,Sales,Wife,Amer-Indian-Eskimo,Male,14084,0,60,United-States,>50K
29,29,Self-emp-not-inc,190636,Some-college,10,Never-married,Transport-moving,Wife,Amer-Indian-Eskimo,Male,0,1485,65,United-States,>50K
30,30,State-gov,356015,Some-college,11,Never-married,Sales,Unmarried,Amer-Indian-Eskimo,Male,0,0,84,United-States,>50K
31,31,Private,395170,Some-college,12,Never-married,Transport-moving,Wife,Amer-Indian-Eskimo,Male,0,0,45,United-States,>50K
32,32,Self-emp-not-inc,245487,Some-college,10,Separated,Tech-support,Unmarried,Amer-Indian-Eskimo,Male,13550,1980,60,United-States,>50K
33,33,Private,356015,Some-college,13,Separated,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Male,0,0,60,United-States,>50K
34,34,Private,245487,HS-grad,13,Never-married,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,0,1564,60,United-States,>50K
35,35,Self-emp-not-inc,197719,Some-college,16,Separated,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,7688,0,60,United-States,>50K
36,36,Private,195385,Some-college,11,Never-married,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,0,0,65,United-States,<=50K
37,37,Private,217689,Some-college,11,Separated,Tech-support,Wife,Amer-Indian-Eskimo,Male,27828,0,48,United-States,>50K
38,38,State-gov,175732,Some-college,13,Never-married,Protective-serv,Unmarried,Amer-Indian-Eskimo,Male,0,0,70,United-States,>50K
39,39,Self-emp-not-inc,116666,Some-college,11,Never-married,Protective-serv,Unmarried,Amer-Indian-Eskimo,Male,6849,0,48,United-States,<=50K
40,40,Self-emp-not-inc,310101,Some-college,15,Separated,Sales,Unmarried,Amer-Indian-Eskimo,Male,6849,1977,84,United-States,>50K
41,41,State-gov,266530,Some-college,13,Married-civ-spouse,Sales,Wife,Amer-Indian-Eskimo,Male,7298,0,50,United-States,>50K
42,42,State-gov,304302,Some-college,16,Widowed,Transport-moving,Wife,Amer-Indian-Eskimo,Male,15024,0,60,United-States,>50K
43,43,State-gov,239161,Some-college,14,Widowed,Sales,Wife,Amer-Indian-Eskimo,Male,0,0,50,United-States,>50K
44,44,State-gov,192976,HS-grad,13,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,>50K
45,45,Self-emp-not-inc,239093,Some-college,10,Married-civ-spouse,Prof-specialty,Not-in-family,Amer-Indian-Eskimo,Male,3137,0,48,United-States,<=50K
46,46,State-gov,363875,Some-college,14,Never-married,Transport-moving,Wife,Amer-Indian-Eskimo,Male,15024,1902,60,United-States,>50K
47,47,Private,244025,Some-college,10,Never-married,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,3325,0,56,United-States,>50K
48,48,Self-emp-not-inc,243631,Some-college,10,Separated,Craft-repair,Not-in-family,Amer-Indian-Eskimo,Male,7688,0,40,United-States,>50K
49,49,Self-emp-not-inc,190319,Some-college,13,Married-spouse-absent,Exec-managerial,Not-in-family,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
50,50,State-gov,220640,Some-college,14,Married-spouse-absent,Prof-specialty,Wife,Amer-Indian-Eskimo,Female,0,0,50,United-States,>50K
51,51,State-gov,251487,Some-college,14,Widowed,Transport-moving,Not-in-family,Amer-Indian-Eskimo,Male,15024,0,60,United-States,>50K
52,52,Self-emp-not-inc,282674,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,>50K
53,53,State-gov,167410,Some-college,13,Separated,Transport-moving,Wife,Amer-Indian-Eskimo,Male,0,0,48,United-States,>50K
55,55,State-gov,223716,Some-college,11,Widowed,Exec-managerial,Unmarried,Amer-Indian-Eskimo,Female,0,0,45,United-States,<=50K
56,56,Self-emp-not-inc,162137,HS-grad,9,Never-married,Transport-moving,Other-relative,Amer-Indian-Eskimo,Male,0,0,65,United-States,<=50K
57,57,Self-emp-not-inc,313929,Some-college,12,Separated,Sales,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
58,58,Private,97969,Some-college,10,Widowed,Prof-specialty,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
59,59,Private,205949,HS-grad,9,Separated,Transport-moving,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
60,60,State-gov,148522,Some-college,10,Separated,Transport-moving,Not-in-family,Amer-Indian-Eskimo,Male,0,0,50,United-States,>50K
61,61,State-gov,130466,HS-grad,9,Widowed,Adm-clerical,Unmarried,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
62,62,?,68461,Doctorate,16,Married-civ-spouse,?,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,>50K
63,63,Private,445168,Bachelors,13,Widowed,Other-service,Unmarried,Amer-Indian-Eskimo,Female,0,0,56,United-States,<=50K
65,65,?,178931,HS-grad,9,Married-civ-spouse,?,Husband,Amer-Indian-Eskimo,Male,3818,0,40,United-States,<=50K
67,67,Private,126849,10th,6,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,20,United-States,<=50K
68,68,Private,121846,7th-8th,4,Widowed,Other-service,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
71,71,Self-emp-not-inc,322789,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Amer-Indian-Eskimo,Male,0,0,35,United-States,<=50K
74,74,?,33114,10th,6,Married-civ-spouse,?,Husband,Amer-Indian-Eskimo,Male,1797,0,30,United-States,<=50K
80,80,Local-gov,20101,HS-grad,9,Widowed,Other-service,Unmarried,Amer-Indian-Eskimo,Female,0,0,32,United-States,<=50K
82,82,?,52921,Some-college,10,Widowed,?,Not-in-family,Amer-Indian-Eskimo,Male,0,0,3,United-States,<=50K

ans7.82

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors. *

In [108]:
df['marital-status']

0                Never-married
1           Married-civ-spouse
2                     Divorced
3           Married-civ-spouse
4           Married-civ-spouse
5           Married-civ-spouse
6        Married-spouse-absent
7           Married-civ-spouse
8                Never-married
9           Married-civ-spouse
10          Married-civ-spouse
11          Married-civ-spouse
12               Never-married
13               Never-married
14          Married-civ-spouse
15          Married-civ-spouse
16               Never-married
17               Never-married
18          Married-civ-spouse
19                    Divorced
20          Married-civ-spouse
21                   Separated
22          Married-civ-spouse
23          Married-civ-spouse
24                    Divorced
25          Married-civ-spouse
26               Never-married
27          Married-civ-spouse
28                    Divorced
29          Married-civ-spouse
                 ...
32531            Never-married
32532       Married-civ-spouse
32533       Married-civ-spouse
32534                 Divorced
32535            Never-married
32536            Never-married
32537            Never-married
32538                 Divorced
32539       Married-civ-spouse
32540                Separated
32541                Separated
32542       Married-civ-spouse
32543                 Divorced
32544                 Divorced
32545       Married-civ-spouse
32546                 Divorced
32547       Married-civ-spouse
32548            Never-married
32549                 Divorced
32550       Married-civ-spouse
32551       Married-civ-spouse
32552       Married-civ-spouse
32553            Never-married
32554       Married-civ-spouse
32555            Never-married
32556       Married-civ-spouse
32557       Married-civ-spouse
32558                  Widowed
32559            Never-married
32560       Married-civ-spouse
Name: marital-status, Length: 32561, dtype: object

In [116]:
df.loc[(df['sex'] == 'Male') & 
     (df['marital-status'].isin(['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse'])), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [118]:
df.loc[(df['sex'] == 'Male') & 
     (~df['marital-status'].isin(['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

ans8. Among married

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them? *

In [122]:
df['hours-per-week'].max()

99

In [138]:
newdf4= df[(df['hours-per-week']==99)]

In [139]:
 newdf= (df['salary']=='>50K')

In [144]:
newdf4.count()

age               85
workclass         85
fnlwgt            85
education         85
education-num     85
marital-status    85
occupation        85
relationship      85
race              85
sex               85
capital-gain      85
capital-loss      85
hours-per-week    85
native-country    85
salary            85
dtype: int64

In [149]:
ndf= newdf4[df['salary']=='>50K']

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [151]:
ndf.count()

age               25
workclass         25
fnlwgt            25
education         25
education-num     25
marital-status    25
occupation        25
relationship      25
race              25
sex               25
capital-gain      25
capital-loss      25
hours-per-week    25
native-country    25
salary            25
dtype: int64

In [152]:
25/85

0.29411764705882354

ans9.  99 hours/week, 85 people, 29% are rich

10. Count the average time of work (hours-per-week) for those who 
earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [162]:
import numpy as np
pd.crosstab(df['native-country'], df['salary'], 
            values=df['hours-per-week'], aggfunc=np.mean)

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

ans10.Japan	41.000000	47.958333